@charset "UTF-8";

@font-face {
  font-family: "portfolio";
  src:url("../font-icon/portfolio.eot");
  src:url("../font-icon/portfolio.eot?#iefix") format("embedded-opentype"),
    url("../font-icon/portfolio.woff") format("woff"),
    url("../font-icon/portfolio.ttf") format("truetype"),
    url("../font-icon/portfolio.svg#portfolio") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "portfolio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portfolio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\61";
}
.icon-envelope:before {
  content: "\62";
}
